html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

.section-images,
.section-accordion,
.section-grid {
    margin-top: 4rem;
}

footer {
    padding: 1rem;
    color: $black;
}